<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>

<body>
    <section class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="container rounded" style="max-width: 750px;">
            <div class="row">
                <div class="bg-white mx-auto rounded p-3" style="min-height: 350px;">
                    <div class="row g-3">
                        <div class="col-md-6" id="left">
                            <div class="m-3">
                                <div class="head">
                                    <img src="../../../assets/img/g-img2.png" style="width: 70px" alt="google-logo">
                                    <p class="fs-4 text-nowrap mt-2 mb-3 fw-bolder">Yaşar, welcome to Google</p>
                                    <div class="d-flex gap-2 mb-2 mt-4">
                                        <fa-icon [icon]="faCircleUser"></fa-icon>
                                        <p class="fs-6">blablabla@gmail.com</p>
                                    </div>
                                </div>

                                <!-- FORM -->
                                <form class="position-relative" [formGroup]="detailForm">
                                    <div formGroupName="detail">
                                        <input type="tel" id="phone" placeholder="Phone Number (optional)" formControlName="tel">
                                        <p class="d-block mt-2 pb-3 text-secondary text-nowrap ">we'll use your number for account security. It wont be visible to others.</p>
                                        
                                        <input type="email" placeholder="Recovery email address (optional)">
                                        <span class="text-secondary">We'll use it to keep your account secure</span>
                                        
                                    <!-- DATE -->
                                    <select name="month" id="month">
                                        <option *ngFor="let m of month" value="m.id">{{m.month}}</option>
                                        
                                    </select>
                                    
                                    <input type="text" name="" placeholder="Day">
                                    <input type="text" name="" placeholder="Year">
                                    <span>Your birthday</span>
                                    <!-- DATE END -->
                                    
                                    <select name="gender" id="gender" class="mt-auto">
                                        <option *ngFor="let gender of gender" >{{gender.gender}}</option>
                                    </select>
                                    
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <a href="#">Sign in instead</a>
                                        <input type="submit" id="next" value="next" (click)="fullForm()" routerLink="/end" class="bg-primary w-25 text-white rounded p-1 border border-primary">
                                    </div>
                                </div>
                                </form>
                                <!-- FORM END -->
                            </div>
                        </div>
                        <div class="col-md-6" id="right">
                            <div class="m-3">
                                <img src="https://ssl.gstatic.com/accounts/signup/glif/personal.svg"
                                    alt="google-svg-icon" class="m-5" style="width: 260px; height: 240px; position: relative; top: 5rem;">
                                <p style="font-size: 1rem;" class="mx-5 mt-4 text-center">your personal info is private & safe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>