<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>
<body>

    <section class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="container rounded"  style="max-width: 750px;">
            <div class="row">
                <div class="bg-white mx-auto rounded p-3" style="min-height: 500px;">
                    <div class="row g-3">
                        <div class="col-md-6" id="left">
                            <div class="m-2">
                                <img src="../assets/img/g-img2.png" style="width: 70px" alt="google-logo">
                                <p class="fs-5 text-nowrap m-2 fw-bolder">Create your Google Account</p>
                                    <!-- FORM -->
                                <form [formGroup]="formHome" class="position-relative">
                                    <div formGroupName="userInfo">
                                        <input type="text" placeholder="First name" formControlName="name">
                                        <input type="text" placeholder="Last name" formControlName="surname">
                                        <div id="email" class="position-relative">
                                            <input type="email" placeholder="email" formControlName="email">
                                            <label class="position-absolute end-0 m-2 p-1">@gmail.com</label>
                                        </div>
                                        <span>You can use letters, numbers & periods</span>
                                        <br>
                                        <a href="#">Use my current email address instead</a>
                                        <input type="password" name="" placeholder="Password" id="pasw" formControlName="password">
                                        <input type="password" name="" placeholder="Confirm" id="conf">
                                        <span class="desc" style="font-size: 0.8rem; margin-bottom: 0.35rem; width: fit-content; display: block;">Use 8
                                            or more characters with a mix of letters,numbers & symbols</span>
                                        <input type="checkbox" name="" class="checkbox" (click)="showPassword()">
                                        &nbsp; Show password
                                
                                
                                        <div class=" d-flex justify-content-between align-items-center w-100">
                                            <a href="#">Sign in instead</a>
                                            <input type="submit" id="next" routerLink="/detail" (click)="ngSubmit()" class="bg-primary">
                                        </div>
                                    </div>
                                </form>

                                <div>{{formHome.value | json}}</div>
                                <!-- FORM END -->
                            </div>
                        </div>
                        <div class="col-md-6" id="right">
                            <div class="m-3">
                                <img src="../assets/img/g-img.svg" alt="google-svg-icon" class="img-fluid" >
                                <p>One account. All of Google working for you</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</body>
</html>